@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  font-family: "Merriweather", sans-serif;
}

button,
a {
  cursor: pointer;
}

body {
  margin: 0;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  overflow: hidden;
  background-color: #fff;
}

#rss-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background: #fff;
}

#rss-container #head {
  display: block;
  width: 100%;
  padding: 5px;
  border-bottom: 1px solid #222;
  font-size: 1rem;
  color: #222;
}

#rss-container #image-box {
  width: 25px;
  height: 25px;
  overflow: hidden;
  border-radius: 5px;
}

#rss-container #image-box img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
  background: #fff;
}

#rss-container #left-list {
  width: 20%;
  height: 100%;
  background: #ddd;
  border-right: 2px solid #222;
}

#rss-container #left-list #left-list-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 5px;
}

#rss-container #left-list #left-list-content #list-item {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 5px;
  transition: 0.3s;
  cursor: pointer;
}

#rss-container #left-list #left-list-content #list-item:hover {
  background: #222;
}

#rss-container #left-list #left-list-content #list-item:hover button {
  color: #fff;
}

#rss-container #left-list #left-list-content #list-item button {
  background: none;
  box-sizing: border-box;
  padding: 10px;
  border: 0px;
  font-size: 1rem;
  color: #000;
}

#rss-container #center-list {
  width: 80%;
  height: 100%;
  background: #000;
  padding: 15px;
  color: #fff;
  overflow-y: auto;
}

#rss-container #center-list #head {
  color: #fff;
  border-bottom: 1px solid #fff;
}

#rss-container #center-list #center-list-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding: 5px;
}

#rss-container #center-list #center-list-content #image-box {
  width: 100%;
  height: 100px;
}

#rss-container #center-list #center-list-content #news-list-item {
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: space-between;
  justify-content: space-between;
  flex-direction: column;
  border: 1px solid #fff;
  background: #222;
  border-radius: 10px;
}

#rss-container #center-list #center-list-content #news-list-item img {
  max-width: 300px;
}

#rss-container #center-list #center-list-content #news-list-item #heading {
  font-weight: 500;
  font-size: 1.2rem;
  color: #fff;
}

#rss-container #center-list #center-list-content #news-list-item #pub-date {
  font-size: 1.1rem;
  font-weight: 900;
  color: #aaa;
}

#rss-container #center-list #center-list-content #news-list-item a {
  background: #ddd;
  color: #000;
  padding: 2px;
  width: 300px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#rss-container #center-list #center-list-content #news-list-item a:hover {
  opacity: 0.5;
}

#rss-container #center-list #center-list-content #news-list-item a#home-open-link {
  background: #9b6700;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

#open-notification {
  background: #ffaa00;
  color: #fff;
  width: 100%;
  border: none;
  padding: 5px;
  font-size: 1rem;
  transition: 0.3s;
}

#open-notification:hover {
  background: #222;
}

#notification-container {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 50%;
  height: 100%;
  border-radius: 20px 0 0 20px;
  background: #ddde;
  z-index: 999;
  padding: 15px;
  transition: 0.3s;
  visibility: hidden;
  opacity: 0;
  transform: translateX(100%);
  overflow: auto;
}

#notification-container #head {
  margin: 10px 0;
}

#notification-container #notification-list-content {
  display: flex;
  flex-direction: column-reverse;
  gap: 5px;
}

#notification-container.active {
  opacity: 1;
  visibility: visible;
  transform: translateX(0%);
}

#notification-container #notify-item {
  background: #ddd;
  color: #222;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #222;
}

#notification-container a {
  display: block;
  padding: 5px;
  background: #222;
  color: #fff;
  border: 1px solid #222;
  text-decoration: none;
}

#notification-container a:hover {
  background: #aaa;
  color: #222;
}
